/* PRECSS */
:root {
  --mainColor: rebeccapurple;
   --fontSize: 1rem;
}

header {
	background-color: var(--mainColor) ;
}

.heading {
    margin: 20px;
    padding: @margin;
}

.parent {
    background: white;

    @at-root{
        .child {
            background: black;
        }
    }
}
@for $i from 1 to 3 {
    .b-$i { width: $(i)px; }
}
