@import "_header"

.container {
  margin: 0px auto;
  width: 80%; 
  background-color: var(--mainColor) ;
  font-size: calc(var(--fontSize) * 1);
}

a {
  color: var(--mainColor);
}

#app {
  width: 100%;
}




/* FOOTER */
footer {
  background-color: var(--mainColor);
  color:blue; 
}


a {
  all: initial;
}


/* see the results */
/*a {
  all: initial;
}

@media (width >= 500px)  {
  #app { font-size: calc(var(--fontSize) * 6);}
  h1 {
  font-size: calc(var(--fontSize) * 6);
}

}

h1 {
  font-size: calc(var(--fontSize) * 2);
}

@media (min-width: 30em) {
    background-color: yellow;
  }

.footer {
	text-align: center;
    font-size: calc(var(--fontSize) * 5);
    color: color(red a(10%));
    filter: sepia(.8);

}

.blur {
filter: blur(4px);
}*/

/* PRECSS */
/*.heading {
    margin: 20px;
    padding: @margin;
}

.parent {
    background: white;

    @at-root{
        .child {
            background: black;
        }
    }
}
@for $i from 1 to 3 {
    .b-$i { width: $(i)px; }
}
*/